.side-bar-elements-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  position: fixed;
  z-index: 12;
  box-shadow: 2px 2px 4px rgb(187, 185, 185);
  top: 80px;
  bottom: 0;
}

.side-bar-element {
  width: 100%;
  width: 280px;
  padding: 18px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  cursor: pointer;
  display: flex;
  gap: 10px;
  transition: 0.1s;
}
.side-bar-element:hover {
  background-color: #e6eded;
}
