/* .side-bar-elements-container {
  display: flex;
  flex-direction: column;
  background-color: gray;
  position: fixed;
  width: auto;
  z-index: 12;
  box-shadow: 2px 2px 4px rgb(187, 185, 185);
  top: 86px;
  bottom: 0;
  overflow: hidden;
  transition: 3s;
  transition: width 0.3s ease;
} */
/* .collaps-container {
  width: 60px;
} */

/* .side-bar-element {
  width: 280px;
  padding: 18px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  cursor: pointer;
  display: flex;
  gap: 10px;
  text-decoration: none;
  color: inherit;
} */
/* .side-bar-element:hover {
  background-color: #e6eded;
}

.side-bar-element:active {
  background-color: #a9acac;
} */
/* .collapse-elements {
  opacity: 0;
} */
/* .active {
  background-color: aquamarine;
} */
