.tittle {
  font-weight: 700;
  color: #111;
  font-size: 20px;
  margin-bottom: 18px;
}
.tittle span {
  height: 54px;
}
.contents {
  border: 3px solid #333;
  margin-bottom: 24px;
}
.notes {
  background: white;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.btn {
  padding: 3px 5px;
  border-radius: 2px;
  color: #ffd;
  margin-right: 4px;
  cursor: pointer;
}
.actions {
  margin-top: 10px;
}
.delete {
  background-color: #f00;
}
.edit {
  background-color: #7fff00;
}
