/* .list-container {
  background-color: #3b82f6;
  padding: 30px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  row-gap: 16px;
}
@media (min-width: 1400px) {
  .list-container {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
  }
}

@media (min-width: 1800px) {
  .list-container {
    grid-template-columns: repeat(4, minmax(400px, 1fr));
  }
} */
