/* .tittle {
  font-weight: 700;
  color: #111;
  font-size: 20px;
  margin-bottom: 18px;
} */
/* .notes {
  padding: 6px;
  border-radius: 8px;
  box-shadow: 0 2px 6px #0000001a;
  position: relative;
  background-color: #ff3;
  display: flex;
  width: 80%;
  padding-bottom: 52px;
} */
/* .notes-item {
  width: 21rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 32px;
  border-radius: 10px;
} */
/* .notes-item p {
  line-height: 1.6;
} */
/* .editing-text-area {
  padding: 8px 24px 24px 8px;
  field-sizing: content;
  width: 100%;
  resize: none;
  outline: 0;
} */
/* .actions {
  margin-top: 10px;
  position: absolute;
  right: 4px;
  bottom: 8px;
} */
/* .btn {
  padding: 3px 5px;
  border: none;
  border-radius: 5px;
  color: #ffd;
  margin-right: 4px;
  cursor: pointer;
}
.delete {
  background-color: #f00;
}
.edit {
  background-color: #7fff00;
} */
/* .pin-note {
  padding: 10px;
  position: absolute;
  top: 24px;
  right: 18px;
  opacity: 0.8;
  cursor: pointer;
} */
/* .pin-note:hover {
  opacity: 0.8;
  background-color: #777;
  color: #fff;
  border-radius: 50%;
} */
/* .pin-note:active {
  color: #000;
} */
/* .archive-notes-container {
  position: absolute;
  bottom: 8px;
  left: 8px;
}
.archive-notes {
  position: relative;
  display: inline-block;
}
.archive-notes .hover-archive-text {
  position: absolute;
  bottom: 100%;
  visibility: hidden;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
} */

/* .licence {
  position: fixed;
  bottom: 30px;
  left: 16px;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  color: #777;
} */
