body {
  /* background: linear-gradient(45deg, #398131, #383a37); */
  font-family: "Google Sans Text", sans-serif;
  font-weight: 400;
  font-style: normal;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  margin-top: 106px;
  display: grid;
  grid-template-columns: 280px 1fr;
  gap: 6px;
}
