.input-container {
  max-width: 800px;
  margin: 0 auto;
}
.input-wrapper {
  display: flex;
  flex-direction: column;
  width: 475px;
  border-radius: 8px;
  box-shadow: 3px 9px 6px #ccc;
  position: relative;
  margin: 18px 0;
}
.title-area {
  font-size: 24px;
  color: #111;
  margin-bottom: 0;
  font-weight: 600;
}
.title-area,
.note-area {
  padding: 16px;
  border: none;
  outline: none;
  /* width:s 100%; */
  padding: 16px;
}
.note-area {
  field-sizing: content;
  font-size: 16px;
  margin-bottom: 24px;
  width: 470px;
  resize: none;
  padding: 16px;
}
.add-btn {
  position: absolute;
  right: 6px;
  bottom: 2px;
}
